body {
  margin: 0;
}

.titre {
  background-color: rgb(201, 194, 194);
  /* background-color: coral; */
  color: white;
  font-size: 4rem;
  height: 7rem;
  line-height: 7rem;
  text-align: center;
  text-shadow: 2px 2px 1px black;
}

.game {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

img {
  width: 100px;
  height: 100px;
  padding: 2rem;
  margin: 2rem;
}

.play {
  text-align: center;
}

.play button {
  padding: 10px 20px;
  font-size: 1rem;
}

.player {
  border: 2px solid grey;
  margin: 2rem;
  height: 228px;
}

section:nth-child(2n),
.result {
  text-align: center;
}

.robot,
.result,
.disapear {
  display: none;
}

.result {
  width: 100%;
  font-size: 2.5rem;
  color: coral;
}

.appear {
  display: inline-block;
}

.non_selected {
  opacity: 0;
}

.selected {
  /* border: 1px solid red; */
  opacity: 1;
}
